*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    padding: 5px 20px;
}

.navbar{
width: 100%;
height: 80px;
background-color: black;

}

.navbar_logo{
width: 100%;
height: 70px;
}

.logo{
    width: 70px;
    height: 70px;
    margin-top: 5px;
}

.hero_container{
    position: relative;
}


.hero_container_bg_text{
    font-size:200px;
    position: absolute;
    z-index: -3;
    color: rgb(192, 191, 191);
    margin-top: 180px;
  


}

.foreground_container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.image{
    width: 100%;
    padding: 70px;
}

.img{
    width: 100%;
    margin-bottom: 30px;
    margin-right: 200px;
}


.hero_container_text{
    font-size: 60px;
}

.hero_button{
    background: inherit;
    margin-left: 100px;
    width: 110px;
    height: 40px;
    border-width: 0.5px;
    font-weight: bold;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    
}
.hero_button:hover{
    cursor: grab;
    background: black;
    color: white;
    border:  black;
    border-width: 3px;

}

.foreground_container2{
    display: flex;
    align-items: center;
    
    
}

.hero_container_bg_text2{
    font-size:270px;
    position: absolute;
    z-index: -3;
    color: rgb(192, 191, 191);
    margin-top: 60px;
  
}

.img2{
    width: 100%;
    margin-bottom: 30px;
    margin-right: 50PX;
}

.dealer_locator{
    position: relative;
}

.dealer_image{
    position: absolute;
    width: 100%;
    z-index: -3;
    height: 700px;

}
.dealer_img{
    width: 100%;
    height: 100%;
}

.dealer_desc{
    font-size: 60px;
    color: white;
 
    
}
.desc_container{
    display: flex;
    height: 600px;
    justify-content: flex-start;
    align-items: center;
    
}